# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*/settings/local.py

# Django test database
db.sqlite3

# Media files
media/

# Static files
static/

# Log files
logs/

# Ignore environment variables file
.env

# Ignore virtual environment
venv/

# Ignore VSCode settings
.vscode/

# Ignore migration files
**/migrations/